ogbench  # Use the PyPI version of OGBench. Replace this with `pip install -e .` if you want to use the local version.
jax[cuda12] >= 0.4.26
flax >= 0.8.4
distrax >= 0.1.5
ml_collections
matplotlib==3.9.0
moviepy==1.0.3
wandb
tensorflow-datasets==4.9.8
gsutil==5.33
gcsfs==2025.3.2
tensorflow==2.15.1
rlds==0.1.8
dm-reverb==0.14.0
